extend componentes/plantilla.pug
block contenidos
        section.intro 
            div.intro__imagen: img(src="./images/imagen.png", alt="")
            div.intro__contenido
                h1 #{titulos [0]}
                p. 
<<<<<<< HEAD
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, repellendus iste tenetur doloremque eum animi amet asperiores deserunt mollitia aut architecto, dolores quod neque accusantium temporibus consequatur delectus placeat! Veritatis
=======
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, repellendus iste tenetur doloremque eum animi amet asperiores deserunt mollitia aut architecto, dolores quod neque accusantium temporibus consequatur delectus placeat! Veritatis!
>>>>>>> b2657f866aa9a7aa2cbb55f6865e341ec8c30c95
                span dolores quod neque accusantium temporibus consequatur delectus placeat! Veritatis!
        main.contenido 
            +caja('imagen.png',titulos[1],'Lorem ipsum dolor sit amet')
            +caja('imagen.png',titulos[2],'Lorem ipsum dolor sit amet')
            +caja('imagen.png',titulos[3],'Lorem ipsum dolor sit amet')
        